# q1

In [21]:
my_name = "Ariel"
print (my_name)

Ariel

# q2

In [3]:
my_id = 211995
print(my_id)

211995

# q3

In [24]:
my_id_str = str(my_id)
print(my_id_str)

211995

# q4

No, you cannot perform my_name + my_id. It says it must be str in order for it to run properly.

# q5

Yes, you can perform my_name + my_id_str because we previously assigned my_id_str to my_id.

# q6

In [26]:
"hello, world. This is my first python string".split('.')

['hello, world', ' This is my first python string']

# q7

In [27]:
str_list = ['a','b','c','d','e']
str_list.sort()
print(str_list)

['a', 'b', 'c', 'd', 'e']

Yes.

# q8

In [28]:
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# q9

In [29]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

# q10

In [20]:
print(my_letter_list[2])

c

# q11

In [30]:
num_list = [12, 32, 43, 35]

str_list + num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

In [ ]:
Yes, you can combine two lists together.

# q12

In [13]:
my_dict = {'name':'Ariel','id': my_id}
print(my_dict)

{'name': 'Ariel', 'id': 229045}

# q13

In [14]:
my_dict['name'] = 'Decko'
print(my_dict['name'])

Decko

# q14

In [15]:
print(my_dict['id'])

229045

# q15

In [16]:
my_dict['id'] = 229035
print(my_dict)

{'name': 'Decko', 'id': 229035}

# q16

In [17]:
my_dict['num_list'] = num_list 
print(my_dict)

NameError: name 'num_list' is not defined

num_list isn't a key within this dict list